# fly.toml app configuration file generated for iwsio-forms on 2023-06-02T13:58:40-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "iwsio-forms"
primary_region = "dfw"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
