@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@source "../forms/**/*.{ts,tsx}";

* {
  outline-width: 0px;
}

@layer component {
  pre {
    white-space: unset;
    white-space-collapse: unset;
    max-width: calc(100vw - 5rem);
  }
  pre > code {
    white-space: pre;
    overflow-x: scroll;
    display: block;
  }

  @media (min-width: 1024px) {
    pre {
      max-width: calc(100vw - 20rem);
    }
  }
}
