name: "@iwsio/forms: PUSH to main"

on:
  push:
    branches: [ main ]
    paths:
      - 'forms/**'
      - 'demo/**'

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  tests:
    if: ${{ !contains(github.event.head_commit.message, '#skip') }}
    uses: iwsllc/workflows/.github/workflows/test.yaml@v5
    with:
      node-version-file: '.nvmrc'
      install-command: pnpm install
      build-command: pnpm -F forms build
      test-command: pnpm -F forms test
      use-pnpm: true
      cache: pnpm
  version:
    needs: tests
    if: ${{ !contains(github.event.head_commit.message, '#skip') }}
    uses: iwsllc/workflows/.github/workflows/version.yaml@v5
    with:
      ref: main
      use-pnpm: true
      cache: pnpm
      node-version-file: '.nvmrc'
      version-command: npm version patch --workspaces --include-workspace-root --no-git-tag-version || true
  publish:
    needs: version
    if: ${{ !contains(github.event.head_commit.message, '#skip') }}
    uses: iwsllc/workflows/.github/workflows/publish.yaml@v5
    with:
      ref: main
      registry-url: https://registry.npmjs.org
      use-pnpm: true
      cache: pnpm
      node-version-file: '.nvmrc'
      skip-node-auth: true
      install-command: pnpm install
      build-command: pnpm -F forms build
      publish-command: pnpm -F forms publish --access public
    secrets:
      # This token is used for reading npm packages; use when private packages are used
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
  deploy_demo:
    if: ${{ !contains(github.event.head_commit.message, '#skip') }}
    needs: version
    uses: ./.github/workflows/demo-deploy.yaml
    secrets:
      FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
