name: "@iwsio/forms: PR to Main"

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'forms/**'

jobs:
  tests:
    if: ${{github.event.pull_request.draft == false && !contains(github.event.head_commit.message, '#skip') }}
    uses: iwsllc/workflows/.github/workflows/test.yaml@v5
    with:
      node-version-file: '.nvmrc'
      use-pnpm: true
      cache: pnpm
      install-command: pnpm install
      build-command: pnpm -F forms build
      test-command: pnpm -F forms test